{% include 'Header.html' %}
<style>
    p{
        height: 50px;
        width: 100%;
        background-color: black;
        color: white;
        padding-left: 10%;
        padding-top: 2%;
    }
    a{
        color:white;
        text-decoration:none;
    }
</style>
<h2>Topic Wise Contents</h2>
<div class="container-fluid">

<div class="row mb-5">
    <div class="col-md-9">
        <div style="height: 500px;width: 100%;background-color: azure;border: 1px solid gray;"></div>
    </div>
    <div class="col-md-3">
        <a href="/" style="color: blue;text-decoration: none;">Back</a>
        <ul class="list-group">
            {% for c in contents %}
            <li class="list-group-item">
                <a href="/playvideo?content_id={{c.id}}" style="color:black;">{{c.ContentName}}</a>
            </li>

            {% endfor %}
        </ul>
    </div>
</div>
</div>

{% include 'Footer.html' %}